.hide {
    display: none;
}

/* make fancy later */
body {
    background-position: center;
    /* background-color: purple; */
    text-align: center;
    /* color: purple; */
}

button {
    color: purple; /* invert this */
}

.highscores-display {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.highscores-output {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
}

table {
    /* display: flex;  */ /* messes up Initials Score centering  */
    align-items: center;
    justify-content: center;
 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hovering_add:hover {
    /* add code to hover on item elements. ADD MORE STYLING */
    color: green; 
}

