/* Element selectors */
body {
    background-position: center;
    /* background-color: purple; */
    text-align: center;
    /* color: purple; */
}

button {
    background-color: purple; 
    color: white;/* invert this */
    padding: 10px 20px;
    margin: 10px;
 } 

table {
    /* display: flex;  */ /* messes up Initials Score centering  */
    align-items: center;
    justify-content: center;
 
}

/* Class selectors */
.hide {
    display: none;
}

.highscores-display {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.highscores-output {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: gray;
    color: white;
    margin: 100px;
}

.buttons:hover {
    color: red;
}

.hovering_add:hover {
    
    color: red; 
  }

/* .hovering_add { */
    /* background-color: purple; */
    /* color: green; */
/* } */

#highscores-page-button:hover {
    color: red;
}

#clear-highscores-button:hover {
    color: red;
}

.start-quiz-button:hover {
    color: red;
}

#go-back-button:hover {
    color: red;
}


